.conatiner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  background-color: rgb(25, 118, 210);
  color: #ffffff;
}

.logo-1 {
  grid-column: 2/3;
  align-items: center;
  justify-items: center;
  display: grid;
  cursor: pointer;
}
.logo-1 a {
  color: #ffffff;
  text-decoration: none;
}

.links ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
  height: 100%;
  margin: 0;
  width: 20rem;
}

.links ul li a {
  color: #ffffff;
  text-decoration: none;
}

.login-1 {
  cursor: pointer;
}
.login-1 a {
  color: #ffffff;
  text-decoration: none;
}

/**first secction start**/
.card-container {
  width: 100%;
  margin-top: 20px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bg-1 {
  background-color: rgb(0, 23, 169);
  width: 200px;

  height: 75px;
  justify-items: center;
  display: grid;
  align-items: center;
}

.counter {
  padding-left: 170px;
  color: white;
}
.para-1 {
  margin-left: 70px;
  padding-bottom: 10px;
  color: white;
}

/**second secction start**/
.bg-2 {
  background-color: rgb(230, 57, 57);
  width: 200px;

  height: 75px;
}

.counter-2 {
  padding-left: 170px;
  color: white;
}
.para-2 {
  margin-left: 70px;
  padding-bottom: 10px;
  color: white;
}

/**third secction start**/
.bg-3 {
  background-color: rgb(29, 202, 232);
  width: 200px;

  height: 75px;
}

.counter-3 {
  padding-left: 170px;
  color: white;
}
.para-3 {
  margin-left: 70px;
  padding-bottom: 10px;
  color: white;
}
/**fourth secction start**/
.bg-4 {
  background-color: rgb(187, 5, 228);
  width: 200px;

  height: 75px;
}

.counter-4 {
  padding-top: 10px;
  padding-left: 170px;
  color: white;
}
.para-4 {
  margin-left: 70px;
  padding-bottom: 10px;
  color: white;
}
/**table section**/
.container-2 {
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  width: 1038px;
  margin-left: 136px;
}
.heading-table {
  color: rgb(81, 133, 247);
  font-size: 30px;

  padding-left: 20px;
}

.seemore {
  color: rgb(81, 133, 247);
  font-size: 15px;
  padding-bottom: 20px;
  padding-left: 20px;
}
