.navbar-bg {
  background-color: rgb(25, 118, 210);
}
.logo-1 {
  font-weight: bold;
}
.icon-bell {
  padding-left: 600px;
  color: aliceblue;
}

/**Section start**/
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-left: 120px;
}
/**first secction start**/
.bg-1 {
  background-color: rgb(0, 23, 169);
  width: 200px;
  margin-top: 20px;
  height: 75px;
  justify-items: center;
  display: grid;
  align-items: center;
}

.counter {
  padding-top: 10px;
  padding-left: 170px;
  color: white;
}
.para-1 {
  margin-left: 70px;
  padding-bottom: 10px;
  color: white;
}

/**second secction start**/
.bg-2 {
  background-color: rgb(230, 57, 57);
  width: 200px;
  margin-top: 20px;
  height: 75px;
}

.counter-2 {
  padding-top: 10px;
  padding-left: 170px;
  color: white;
}
.para-2 {
  margin-left: 70px;
  padding-bottom: 10px;
  color: white;
}

/**third secction start**/
.bg-3 {
  background-color: rgb(29, 202, 232);
  width: 200px;
  margin-top: 20px;
  height: 75px;
}

.counter-3 {
  padding-top: 10px;
  padding-left: 170px;
  color: white;
}
.para-3 {
  margin-left: 70px;
  padding-bottom: 10px;
  color: white;
}
/**fourth secction start**/
.bg-4 {
  background-color: rgb(187, 5, 228);
  width: 200px;
  margin-top: 20px;
  height: 75px;
}

.counter-4 {
  padding-top: 10px;
  padding-left: 170px;
  color: white;
}
.para-4 {
  margin-left: 70px;
  padding-bottom: 10px;
  color: white;
}
/**table section**/
.container-2 {
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  width: 1038px;
  margin-left: 136px;
  margin-top: 30px;
}
.heading-table {
  color: rgb(81, 133, 247);
  font-size: 30px;

  padding-left: 20px;
  padding-top: 10px;
}

.seemore {
  color: rgb(81, 133, 247);
  font-size: 15px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-top: 10px;
}
